// Heading Color
$heading: #232323;

// Text Color
$text: #666666;

// Gray Background
$bg-gray: #f0f0f0;

// Primary Color
$primary: #6244C5c0;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Border Color
$border: #ebebeb;

// Hover Color
$hover: #6244C5c0;

// Secondary Color
$secondary: #ffc107;

// Secondary Color
$footer-color: #f2f4f5;
